/src/Projetos/Visual Studio/ComunicacaoTcp/ComunicacaoTcp.VC.VC.opendb
/src/Projetos/Visual Studio/ComunicacaoTcp/Common/Debug
/src/Projetos/Visual Studio/ComunicacaoTcp/Common/Release
/src/Projetos/Visual Studio/ComunicacaoTcp/Server/Debug
/src/Projetos/Visual Studio/ComunicacaoTcp/Server/Release
/src/Projetos/Visual Studio/ComunicacaoTcp/Client/Debug
/src/Projetos/Visual Studio/ComunicacaoTcp/Client/Release
/src/Projetos/Visual Studio/ComunicacaoTcp/Debug
/src/Projetos/Visual Studio/ComunicacaoTcp/Release
